
/* ----------------Botão---------------- */
.botao{
    display: inline-block;
    padding: 16px 32px;
    font-size: 1.125rem;
    color: #332200;
    background: linear-gradient( #FFBB00, #F2A50C);
    border-radius: 4px;

    text-transform: uppercase;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    line-height: 1.33;
    font-family: 'Poppins';
   font-weight: 600;
}

.botao:hover{
    background: linear-gradient( #ffb60d, #e59317);
}

@media(max-width:600px){
    .botao{
        padding: 12px 16px;
        font-size: 1rem;
    }
}
